.login {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    row-gap: 80px;

    &__main {
        width: 100%;
        height: auto;

        display: flex;
        justify-content: center;
    }

    &__section {
        border-top: 1px solid var(--primaryText);
        border-bottom: 1px solid var(--primaryText);

        width: 100%;
        max-width: 400px;
        height: auto;
        padding: 35px 0;
        margin: 0 20px;

        display: flex;
        flex-direction: column;
        row-gap: 45px;
    }

    &__form {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        row-gap: 25px;
    }

    &__sideLabel {
        font-size: 0.75rem;
        font-weight: 400;
        color: var(--primaryOrange);
    }

    &__icon {
        width: 20px;
        height: 20px;
        
        margin-right: 5px;
        color: var(--secondaryText);
        cursor: pointer;
    }

    &__iconError {
        position: absolute;
        right: -20px;

        width: 20px;
        height: auto;
        color: red;
    }

    &__btnSubmit {
        width: 100%;
        height: auto;
        
        border: 1px solid var(--primaryText);
        border-radius: 5px;
        background: var(--primaryLinearButton);
        padding: 10px 50px;
        cursor: pointer;
    }

    &__createAccount {
        width: 100%;
        height: auto;
        
        display: flex;
        flex-direction: column;
        text-align: center;
        row-gap: 10px;
    }

    &__btnCreateAccount {
        width: 100%;
        height: auto;
        
        border: 1px solid var(--secondaryText);
        border-radius: 5px;
        background: var(--secondaryLinearButton);
        padding: 10px 50px;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    .login {
        row-gap: 40px;
        &__section {
            padding: 20px 0;
        }
    }
}