.list {
    & a {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 8px;
        text-decoration: none;
    }

    &__text {
        position: relative;
        color: var(--primaryText);
        font-size: 0.875rem;
        font-weight: 300;
        
        transition: all 0.2s ease-in-out;

        &:hover:before {
            content: '';
            width: 100%;
            height: 1px;
            background: var(--primaryText);
            
            position: absolute;
            top: 20px;
            left: 0;

            animation: navBorder 0.5s;
        } 
    }

    &__icon {
        width: 18px;
        height: 18px;
        color: var(--primaryText);
    }
}

@keyframes navBorder {
    from {width: 0px;}
    to {width: 100%;}
}
