.list {
    & a {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 8px;
        text-decoration: none;
    }

    &__text {
        color: var(--primaryText);
        font-size: 0.875rem;
        font-weight: 300;
        
        transition: all 0.2s ease-in-out;

        &:hover {
            color: var(--primaryOrange);
        }
    }

    &__icon {
        width: 18px;
        height: 18px;
        color: var(--primaryText);
    }
}