.HighlightFilm {
    width: 100%;
    height: auto;

    &__dataContainer {
        width: 100%;
        max-width: 90%;
        height: auto;
        margin: auto;

        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }

    &__data {
        width: 100%;
        max-width: 55%;
        height: auto;

        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }

    &__date {
        position: relative;
        display: flex;

        & > p:not(:last-child) {
            padding-right: 15px;
            margin-right: 15px;
            border-right: 1px solid var(--primaryText);
        }
    }

    &__genres {
        position: relative;
        display: flex;

        & > p:not(:last-child) {
            padding-right: 15px;
            margin-right: 15px;
            border-right: 1px solid var(--primaryText);
        }
        & > p {
            font-size: 1rem;
        }
    }

    &__rating {
        width: 100%;
        height: auto;

        display: flex;
        align-items: center;
        column-gap: 12px;
        margin-top: 22px;

        & > p {
            font-size: 1.3rem;
        }
    }

    &__buttons {
        width: 100%;
        height: auto;

        display: flex;
        column-gap: 40px;
    }
    
    &__btnPlay {
        border: 1px solid var(--primaryText);
        border-radius: 10px;
        background: var(--primaryLinearButton);
        padding: 7px 15px;
        cursor: pointer;
    
        display: flex;
        column-gap: 5px;
    }
    
    &__btnKnowMore {
        border: 1px solid var(--secondaryText);
        border-radius: 10px;
        background: var(--secondaryLinearButton);
        padding: 7px 15px;
        cursor: pointer;
    
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 5px;  
    }
    
    &__iconPlay {
        width: 20px;
        height: 20px;
        color: var(--primaryText);
    }
    
    &__iconKnowMore {
        width: 20px;
        height: 20px;
        color: var(--secondaryText);
    }
}

