button {
    display: flex;
    align-items: center;
}

.white {
    width: 100%;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--primaryText);
    text-decoration: none;
}

.black {
    width: 100%;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--secondaryText);
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .white, .black {
        font-size: 0.75rem;
    }
}