.white {
    width: 100%;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--primaryText);
}
.gray {
    width: 100%;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--tertiaryText);
}
.black {
    width: 100%;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--secondaryText);
}
.error {
    width: 100%;
    font-size: 0.75rem;
    font-weight: 200;
    color: red;
}