.form{
    width: 100%;
    height: auto;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__field {
        width: 100%;
        height: auto;

        display: flex;
        align-items: center;
        column-gap: 7px;
    }

    &__checkbox {
        width: 15px;
        height: 15px;

        background: var(--primaryText);
        border: 1px solid var(--tertiaryText);
    }

    &__label { 
        
        font-size: 0.875rem;
        font-weight: 400;
        color: var(--primaryText);
    }

    &__errorText { 
        width: 100%;
        height: 20px;
    }
}

@media screen and (max-width: 645px) {
    .form {
        &__label {
            font-size: 0.75rem;
        }
    }
}

