.ChangePassword {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: auto;

    display: flex;
    flex-direction: column;
    row-gap: 45px;

    &__form {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        row-gap: 25px;
    }

    &__icon {
        width: 20px;
        height: 20px;

        margin-right: 5px;
        color: var(--secondaryText);
        cursor: pointer;
    }

    &__iconError {
        position: absolute;
        right: -20px;

        width: 20px;
        height: auto;
        color: red;
    }

    &__btnSubmit {
        width: 100%;
        height: auto;
        
        border: 1px solid var(--primaryText);
        border-radius: 5px;
        background: var(--primaryLinearButton);
        padding: 10px 50px;
        cursor: pointer;
    
        & > p {
            font-size: 0.875rem;
            font-weight: 400;
            color: var(--primaryText);
        }
    }

    &__cancelChange {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        text-align: center;
        row-gap: 10px;
    }

    &__btnCancel {
        border: 1px solid var(--secondaryText);
        border-radius: 7px;
        background: var(--secondaryLinearButton);
        padding: 10px 50px;
        cursor: pointer;
    
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 5px;  
    }
}

@media screen and (max-width: 768px) {
    .ChangePassword {
        row-gap: 40px;
    }
}