.filmDetails {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    row-gap: 80px;

    &__data {
        width: 100%;
        height: auto;

        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }

    &__backdrop {
        width: 100%;
        min-height: 450px;

        display: flex;
        flex-direction: column;
        row-gap: 80px;

        background-position: 95% 5%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__main {
        width: 100%;
        height: auto;
    }

    &__highlight {
        width: 100%;
        max-width: 90%;
        min-height: auto;

        display: flex;
        column-gap: 30px;
        margin: auto auto 30px auto;
    }

    &__poster {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        & > img {
            width: 500px;
            max-width: 250px;
            height: auto;

            object-fit: cover;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    &__filmDetails {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        row-gap: 30px;
    }

    &__title {
        width: 100%;
        max-width: 60%;
        height: auto;

        display: flex;
        flex-direction: column;
    }

    &__filmData {
        position: relative;
        display: flex;

        & > p:not(:last-child) {
            padding-right: 15px;
            margin-right: 15px;
            border-right: 1px solid var(--primaryText);
        }
    }

    &__genres {
        position: relative;
        display: flex;

        & > p {
            position: relative;
        }
        & > p:first-child {
            padding-right: 10px;
        }
        & > p:not(:first-child) {
            padding: 0 10px;
        }
        & > p:not(:last-child)::after {
            position: absolute;
            top: 0;
            right: -2.5px;

            content:'•'
        }
    }

    &__rating {
        display: flex;
        column-gap: 12px;

        & > p {
            font-size: 1.3rem;
        }
    }

    &__cast {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & > p:not(:last-child) {
            font-size: 1rem;
        }
    }

    &__btnPlay {
        border: 1px solid var(--primaryText);
        border-radius: 7px;
        background: var(--primaryLinearButton);
        padding: 7px 15px;
        cursor: pointer;
    
        display: flex;
        align-items: center;
        column-gap: 5px;
    }

    &__iconPlay {
        width: 20px;
        height: 20px;
        color: var(--primaryText);
    }

    &__filmInfos {
        width: 100%;
        max-width: 90%;
        height: auto;
        margin: auto;

        display: flex;
        gap: 50px;
    }

    &__filmCast {
        width: 100%;
        max-width: 65%;

        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }

    &__overview, &__casters, &__videos, &__images {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        & > h2 {
            font-weight: 600;
            padding-bottom: 5px;
            border-bottom: 1px solid var(--tertiaryText);
        }
    }

    &__caster {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }

    &__aside {
        width: 100%;
        max-width: 35%;
        height: auto;

        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__video {
       width: 100%;
       height: auto;

       position: relative;
       display: flex;

       & > video {
        width: 320px;
        height: auto;
        }
    }

    &__btnTrailer {
        position: absolute;
        left: 120px;
        top: 80px;
        z-index: 1;

        display: flex;
    }

    &__iconTrailer {
        width: 80px;
        height: 80px;
        color: var(--primaryText);
        transition: color 0.1s ease-in-out;

        &:hover {
            color: var(--primaryOrange);
        }
    }

    &__image {
        width: 100%;
       height: auto;

       position: relative;
       display: flex;

       & > img {
        width: 320px;
        height: auto;
        }
    }
}

@media screen and (max-width:1440px) {
    .filmDetails {
        &__title {
            max-width: 75%;
        }
    }
}

@media screen and (max-width:1165px) {
    .filmDetails {
        &__title {
            max-width: 90%;
        }
    }
}

@media screen and (max-width:1024px) {
    .filmDetails {
        row-gap: 40px;
        &__backdrop {
            min-height: 350px;
            row-gap: 40px;
        }
        &__highlight {
            column-gap: 15px;
            margin: auto auto 20px auto;
        }
        &__filmData {
            & > p:not(:last-child) {
                padding-right: 5px;
                margin-right: 5px;
                border-right: 1px solid var(--primaryText);
            }
        }
        &__genres {
            & > p:first-child {
                padding-right: 5px;
            }
            & > p:not(:first-child) {
                padding: 0 5px;
            }
            & > p:not(:last-child)::after {
                right: -0.9px;
            }
        }
        &__filmInfos {
            flex-direction: column;
            gap: 20px;
        }
        &__filmCast {
            max-width: 100%;
            row-gap: 20px;
        }
        &__aside {
            max-width: 100%;
            gap: 25px;
        }
        &__caster {
            gap: 20px;
        }
        
        &__video {
            & > video {
             width: 140px;
            }
        }
        &__btnTrailer {
            left: 52.5px;
            top: 35px;
        }
        &__iconTrailer {
            width: 35px;
            height: 35px;
        }
        &__image {
            & > img {
                width: 140px;
            }
        }
        &__filmDetails {
            row-gap: 20px;
        }
        &__title {
            max-width: 100%;
        }
    }
    
}

@media screen and (max-width:768px) {
    .filmDetails {
        &__backdrop {
            min-height: 250px;
        }
        &__iconPlay {
            width: 15px;
            height: 15px;
        }
        &__rating {
            & > img {
                width: 45px;
            }
            & > p {
                font-size: 0.875rem;
            }
        }
        &__overview, &__casters, &__videos, &__images {
            row-gap: 10px;
        }
    }
}