.horizontal {
    width: 100%;
    max-width: 320px;
    height: 190px;
}

.vertical {
    width: 100%;
    max-width: 320px;
    height: 500px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    border-radius: 10px;
    cursor: pointer;
}