.watchList {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    row-gap: 80px;

    &__main {
        width: 100%;
        max-width: 90%;
        min-height: 100vh;
        margin: auto;
    }

    &__container {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        row-gap: 45px;

        & > h1 {
            border-bottom: 1px solid var(--tertiaryText);
        }

        & > p {
            text-align: center;
        }
    }

    &__cardsContainer {
        width: 100%;
        height: auto;
    }

    &__cards {
        width: 100%;
        height: auto;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 40px;
    }

    &__card { 
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &__data {
        width: 100%;
        max-width: 250px;
        height: auto;
    }
}

@media screen and (max-width: 1024px) {
    .watchList {
        row-gap: 40px;
        &__data {
            max-width: 140px;       
        }
        &__container {
            row-gap: 30px;
        }
        &__list {
            grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
            gap: 25px;
        }
    }
}

@media screen and (max-width: 450px) {
    .watchList {
        &__data {
            max-width: 70px;       
        }
    }
}