.forgotPassword {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    row-gap: 80px;

    &__main {
        border-top: 1px solid var(--primaryText);
        border-bottom: 1px solid var(--primaryText);

        width: 100%;
        max-width: 400px;
        height: auto;
        margin: auto;
        padding: 35px 0;

        display: flex;
        flex-direction: column;
        row-gap: 45px;
    }

    &__inputEmail {
        width: 100%;
        height: auto;
    }

    &__form {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        row-gap: 25px;
    }

    &__iconError {
        position: absolute;
        right: -20px;

        width: 20px;
        height: auto;
        color: red;
    }

    &__btnSubmit {
        width: 100%;
        height: auto;
        
        border: 1px solid var(--primaryText);
        border-radius: 5px;
        background: var(--primaryLinearButton);
        padding: 10px 50px;
        cursor: pointer;
    
        & > p {
            font-size: 0.875rem;
            font-weight: 400;
            color: var(--primaryText);
        }
    }

    &__passwordData {
        width: 100%;
        height: auto;
    }

    &__password {
        width: 100%;
        height: auto;
        min-height: 50px;

        display: flex;
        align-items: center;
        justify-content: center;

        background: var(--primaryText);
        border: 1px solid var(--tertiaryText);
        border-radius: 7px;
    }

    &__btnLogin {
        width: 100%;
        height: auto;
        
        border: 1px solid var(--secondaryText);
        border-radius: 5px;
        background: var(--secondaryLinearButton);
        padding: 10px 50px;
        cursor: pointer;
    
        & > p {
            font-size: 0.875rem;
            font-weight: 400;
            color: var(--secondaryText);
        }
    }
}