.user {
    display: flex;
    flex-direction: column;
    row-gap: 80px;

    &__main { 
        width: 100%;
        max-width: 90%;
        height: auto;
        margin: auto;

        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 80px;

        & > h1 {
            border-bottom: 1px solid var(--tertiaryText);
        }
    }

    &__section { 
        width: 100%;
        max-width: 865px;
        height: auto;
        margin: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
    }

    &__info {
        display: flex;
        column-gap: 10px;
        align-items: center;
    }

    &__photo {
        width: 120px;
        height: 120px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--primaryOrange);
        border-radius: 50%;

        font-size: 4rem;
        font-weight: 400;
        color: var(--primaryText);
    }

    &__form { 
        width: 100%;
        height: auto;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
    }

    &__label { 
        font-size: 1.25rem;
        font-weight: 300;
        color: var(--primaryOrange);
    }

    &__field {
        display: flex;
        align-items: center;

        background: none;
        border: 1px solid var(--tertiaryText);
        border-radius: 7px;
    }

    &__input {
        width: 100%;
        padding: 10px 5px;

        background: none;      
        border: none;  
        outline: none;

        &[value] {
            font-size: 0.875rem;
        } 
    }

    &__icons {
        display: flex;
        column-gap: 15px;
        margin: 0 5px;
    }

    &__icon {
        width: 20px;
        height: 20px;

        cursor: pointer;
        color: var(--primaryText);
    }

    &__btnDelete {
        border: 1px solid var(--primaryText);
        border-radius: 5px;
        background: red;
        padding: 10px 50px;
        cursor: pointer;
    }
}

@media screen and (max-width: 1024px) {
    .user {
        row-gap: 40px;
        &__main { 
            row-gap: 40px;
        }
        &__section { 
            max-width: 100%;
            row-gap: 35px;
        }
        &__photo {
            width: 90px;
            height: 90px;
            font-size: 3rem;
        }
        &__input {
            &[value] {
                font-size: 0.75rem;
            } 
        }
        &__btnDelete {
            padding: 10px 20px;
        }
    }
}

@media screen and (max-width: 768px) {
    .user {
        &__form { 
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
        }
        &__label { 
            font-size: 0.875rem;
        }
        &__icons {
            column-gap: 10px;
        }
        &__icon {
            width: 15px;
            height: 15px;
        }
        &__btnDelete {
            padding: 7px 12px;
        }
    }
}

@media screen and (max-width: 450px) {
    .user {
        &__photo {
            width: 60px;
            height: 60px;
            font-size: 2rem;
        }
    }
}