@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

.header {
    width: 100%;
    height: auto;

    z-index: 1;

    &__container {
        width: 100%;
        max-width: 90%;
        height: auto;
        margin: auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 50px;
        
        & > span {
            font-size: 2.5rem;
            font-family: 'Galada', cursive;
            color: var(--primaryText);
        }
        
    }

    &__user {
        display: flex;
        align-items: center;
        justify-content: center;

        column-gap: 3px;

        & > span {
            font-size: 1rem;
            color: var(--primaryText);
        }
    }

    &__userIcon {
        width: 18px;
        height: 18px;
        color: var(--primaryText);
        cursor: pointer;
    }
}

.visible {
    display: flex;
}
.nonVisible {
    display: none;
}
.center {
    justify-content: center;
}