.header {
    width: 100%;
    height: auto;

    &__container {
        width: 100%;
        max-width: 90%;
        height: auto;
        margin: auto;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 50px;
        
    }

}