.subtitle {
    font-size: 1.8rem;
    font-weight: 700;
}
.orange {
    color: var(--primaryOrange);
}
.white {
    color: var(--primaryText);
}
.black {
    font-weight: 600;
    color: var(--secondaryText);
}