.movies {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    row-gap: 80px;

    &__main {
        width: 100%;
        max-width: 90%;
        min-height: 100vh;
        margin: auto;
    }

    &__container {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        row-gap: 45px;
    }

    &__search {
        width: 100%;
        height: auto;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--tertiaryText);
    }

    &__cardsContainer {
        width: 100%;
        height: auto;
    }

    &__cards {
        width: 100%;
        height: auto;
    }

    &__ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 40px;

        list-style: none;
    }

    &__li { 
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &__data {
        width: 100%;
        max-width: 250px;
        height: auto;
    }
}

@media screen and (max-width: 1024px) {
    .movies {
        row-gap: 40px;
        &__data {
            max-width: 140px;       
        }
        &__container {
            row-gap: 30px;
        }
        &__ul {
            grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
            gap: 25px;
        }
    }
}

@media screen and (max-width: 450px) {
    .movies {
        &__data {
            max-width: 70px;       
        }
        &__ul {
            grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
        }
    }
}