@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}
html {  
  scroll-behavior: smooth;
}
body {
  background-color: var(--backgroundBody);
}
:root {
  --primaryText: #FEFEFE;
  --secondaryText: #1E1E1E;
  --tertiaryText: #C0C0C0;
  --backgroundBody: #0C0C0C;
  --primaryLinearButton: linear-gradient(180deg, #ED8423 0%, #FF9838 100%);
  --secondaryLinearButton: linear-gradient(180deg, #C0C0C0 0%, #FEFEFE 100%);
  --primaryOrange: #ED8423; 
  --secondaryOrange: #FF9838;
}
