.tv {
    width: 100%;
    height: auto;

    &__container {
        width: 100%;
        height: auto;

        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }

    &__backdrop {
        width: 100%;
        min-height: 450px;

        display: flex;
        flex-direction: column;
        row-gap: 80px;

        background-position: 95% 5%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__main {
        width: 100%;
        height: auto;
    }

    &__highlight {
        width: 100%;
        max-width: 90%;
        min-height: auto;

        display: flex;
        column-gap: 30px;
        margin: auto auto 30px auto;
    }

    &__poster {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        & > img {
            width: 500px;
            max-width: 250px;
            height: auto;

            object-fit: cover;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    &__createdBy {
        & > p:not(:last-child) {
            font-size: 1rem;
        }
    }

    &__highlightContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        row-gap: 30px;
    }

    &__title {
        width: 100%;
        max-width: 60%;
        height: auto;

        display: flex;
        flex-direction: column;
    }

    &__genres {
        display: flex;

        & > p {
            padding-right: 10px;
            position: relative;
        }
        & > p:not(:first-child) {
            padding: 0 10px;
        }
        & > p:not(:last-child)::after {
            position: absolute;
            top: 0;
            right: -2.5px;

            content:'•'
        }
    }

    &__rating {
        display: flex;
        align-items: center;
        column-gap: 12px;
    }

    &__statistics {
        display: flex;
        column-gap: 30px;
    }

    &__number {
        text-align: center;

        & > p:not(:last-child) {
            font-size: 1rem;
        }
    }

    &__details {
        width: 100%;
        max-width: 90%;
        height: auto;
        margin: auto;
    }

    &__specifications {
        width: 100%;
        height: auto;

        display: flex;
        gap: 50px;
    }

    &__specContent {
        width: 100%;
        max-width: 65%;
        height: auto;

        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }

    &__overview, &__casters, &__images {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        & > h2 {
            font-weight: 600;
            padding-bottom: 5px;
            border-bottom: 1px solid var(--tertiaryText);
        }
    }

    &__caster {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }

    &__images {
        width: 100%;
        max-width: 35%;
        height: auto;
    }

    &__image {
       & > img {
        width: 320px;
        height: auto;
        }
    }
}

@media screen and (max-width:1440px) {
    .tv {
        &__title {
            max-width: 75%;
        }
    }
}

@media screen and (max-width:1165px) {
    .tv {
        &__title {
            max-width: 90%;
        }
    }
}

@media screen and (max-width:1024px) {
    .tv {
        &__container {
            row-gap: 30px;
        }
        &__backdrop {
            min-height: 350px;
            row-gap: 40px;
        }
        &__highlight {
            column-gap: 20px;
            margin: auto auto 20px auto;
        }
        &__specifications {
            flex-direction: column;
            gap: 20px;
        }
        &__specContent {
            max-width: 100%;
            row-gap: 20px;
        }
        &__rating {
            & > p {
                font-size: 1.3rem;
            }
        }
        &__images {
            max-width: 100%;
            gap: 25px;
        }
        &__caster {
            gap: 20px;
        }
        &__image {
            & > img {
                width: 140px;
            }
        }
        &__highlightContent {
            row-gap: 20px;
        }
        &__title {
            max-width: 100%;
        }
    }
    
}

@media screen and (max-width:768px) {
    .tv {
        &__backdrop {
            min-height: 250px;
        }
        &__rating {
            & > img {
                width: 45px;
            }
            & > p {
                font-size: 0.875rem;
            }
        }
        &__overview, &__casters, &__images {
            gap: 10px;
        }
    }
}