.tv {
    width: 100%;
    height: auto;

    &__container {
        width: 100%;
        height: auto;

        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }

    &__backdrop {
        width: 100%;
        min-height: 450px;

        display: flex;
        flex-direction: column;
        row-gap: 80px;

        background-position: 95% 5%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__main {
        width: 100%;
        height: auto;
    }

    &__highlight {
        width: 100%;
        max-width: 90%;
        min-height: auto;

        display: flex;
        column-gap: 30px;
        margin: auto auto 30px auto;
    }

    &__poster {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        & > img {
            width: 500px;
            max-width: 250px;
            height: 360px;

            object-fit: cover;
            border-radius: 10px;
        }
    }

    &__createdBy {
        & > p:not(:last-child) {
            font-size: 1rem;
        }
    }

    &__highlightContent {
        width: 100%;
        height: 360px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 30px;
    }

    &__title {
        width: 100%;
        max-width: 60%;
        height: auto;
    }

    &__info {
        display: flex;

        & > p {
            padding-right: 10px;
        }
        & > p:not(:first-child) {
            padding: 0 10px;
        }
    }

    &__genres {
        display: flex;

        border-right: 1px solid var(--primaryText);

        & > p {
            padding-right: 10px;
            position: relative;
        }
        & > p:not(:first-child) {
            padding: 0 10px;
        }
        & > p:not(:last-child)::after {
            position: absolute;
            top: 0;
            right: -2.5px;

            content:'•'
        }
    }

    &__rating {
        display: flex;
        align-items: center;
        column-gap: 12px;

        & > p {
            font-size: 1.3rem;
        }
    }

    &__statistics {
        display: flex;
        column-gap: 30px;
    }

    &__number {
        text-align: center;

        & > p:not(:last-child) {
            font-size: 1rem;
        }
    }

    &__details {
        width: 100%;
        max-width: 90%;
        height: auto;
        margin: auto;
    }

    &__specifications {
        width: 100%;
        height: auto;

        display: flex;
        gap: 50px;
    }

    &__specContent {
        width: 100%;
        max-width: 65%;
        height: auto;

        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }

    &__overview, &__casters, &__images {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        & > h2 {
            font-size: 1.375rem;
            font-weight: 600;

            padding-bottom: 5px;
            border-bottom: 1px solid var(--tertiaryText);
        }
    }

    &__caster {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }

    &__images {
        width: 100%;
        max-width: 35%;
        height: auto;
    }

    &__image {
       & > img {
        width: 320px;
        height: auto;
        }
    }
}