.dialog {
    position: absolute;
    top: 120px;

    width: 100%;
    height: 550px;

    background: none;
    border: none;
    outline: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    &__container { 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
        max-width: 450px;
        height: auto;

        background-color: var(--primaryText);
        padding: 30px;
        text-align: center;
        border-radius: 10px;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
    }

    &__icon {
        width: 40px;
        height: 40px;

        color: red;
    }

    &__buttons {
        display: flex;
        justify-content: space-evenly;
        margin-top: 25px;
    }

    &__btnConfirm {
        border: 1px solid var(--primaryText);
        border-radius: 5px;
        background: red;
        padding: 10px 50px;
        cursor: pointer;
    }

    &__btnCancel {
        border: 1px solid var(--primaryText);
        border-radius: 5px;
        background: var(--tertiaryText);
        padding: 10px 50px;
        cursor: pointer;
    }
}

@media screen and (max-width: 1024px) {
    .dialog {
        top: 80px;
        height: 420px;
        &__container { 
            max-width: 400px;
            padding: 20px;
        }
        &__icon {
            width: 30px;
            height: 30px;
        }
        &__buttons {
            margin-top: 15px;
        }
        &__btnConfirm {
            padding: 10px 20px;
        }
        &__btnCancel {
            padding: 10px 20px;
        }
    }
}

@media screen and (max-width: 768px) {
    .dialog {
        top: 60px;
        height: 530px;
        &__container { 
            max-width: 350px;
            padding: 20px;
        }
        &__btnConfirm {
            padding: 7px 12px;
        }
        &__btnCancel {
            padding: 7px 12px;
        }
    }
}
